<mat-card class="example-card">

  <mat-card-content>

    	<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.

    <button mat-icon-button color="warn" class="fav-icon"><i class="material-icons">
favorite
</i></button>
    <button mat-flat-button color="primary" (click)="openDialog">ADD COMMENTS</button>
  </mat-card-content>
</mat-card>
