<mat-card>
	<mat-card-content fxLayout="column">
		<div>
			<img mat-card-image src="{{ favourite.movie.poster }}" alt="Photo of a Shiba Inu">
			<button mat-icon-button color="warn" (click)="openDialog()" class="favourite-icon">
				<i class="material-icons">favorite</i>
			</button>
		</div>

		<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
			<p>{{ favourite.movie.title }} <span class="highlight">({{ favourite.movie.rating }}/5 <i class="material-icons rating-star">star</i>)</span></p>
			<a routerLink="/bookTicket"><button mat-flat-button color="primary" >Book Tickets</button></a>
		</div>
		<div fxLayoutAlign="space-between">
			<p>{{favourite.comment}}</p>
			<button mat-icon-button (click)="openDialog()">
				<i class="material-icons" style="color: black">edit</i>
			</button>
		</div>
		
  	</mat-card-content>
</mat-card>
