<mat-card class="example-card">

  <mat-card-content fxLayout="column">

    	<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
	Movie Name:
	<button mat-icon-button color="warn" (click)="openDialog()"><i class="material-icons">
favorite
</i></button>
</div>

<div fxLayout="row" fxLayoutAlgin="space-between" fxLayoutGap="20px">
	Rating:4.1
    <button mat-flat-button color="primary" >BOOK TICKETS</button>
</div>
  </mat-card-content>
</mat-card>
