



<mat-card fxLayoutAlign="space-between" fxLayout="row" fxLayout.lt-md="column" class="header-bar">        
    <app-search></app-search>
    <app-filter></app-filter>
</mat-card>
                 
<mat-grid-list cols="4" rowHeight="1:1" class="list-card" gutterSize="30px">
    <mat-grid-tile><app-cards></app-cards></mat-grid-tile>
    <mat-grid-tile><app-cards></app-cards></mat-grid-tile>
    <mat-grid-tile><app-cards></app-cards></mat-grid-tile>
    <mat-grid-tile><app-cards></app-cards></mat-grid-tile>
    <mat-grid-tile><app-cards></app-cards></mat-grid-tile>
</mat-grid-list>
      
      
    

