::ng-deep .mat-card-header-text {
    display: none !important;
 }

 .header-bar {
    margin: 30px;
    padding-left: 50px;
    padding-right: 50px;
 }

 a {
     text-decoration: none;
     color: white;
 }

 .my-space {
     padding-bottom: 50px;
 }

 .list-card {
    margin: 30px;
 }