



<mat-card fxLayoutAlign="space-between" fxLayout="row" fxLayout.lt-xs="column" class="header-bar">        
    <app-search></app-search>
    <app-filter></app-filter>
</mat-card>
                 

<!-- <app-ticket-form></app-ticket-form> -->
<section fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center" fxLayout.gt-xs="row" class="header-bar">
    <mat-card fxFlex=350px>
        <mat-card-title>
            Movie Name:
        </mat-card-title>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content fxLayoutAlign="center">
            <button mat-icon-button color="warn" (click)="openDialog()">
                <i class="material-icons">
                    favorite
                </i>
            </button>
        </mat-card-content>
        <mat-card-content fxLayoutAlign="center">
            Rating:4.1
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-flat-button color="primary"><a routerLink="/bookTicket">BOOK TICKETS</a></button>
        </mat-card-actions>
    </mat-card>

    <mat-card fxFlex=350px>
            <mat-card-title>
                Movie Name:
            </mat-card-title>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content fxLayoutAlign="center">
                <button mat-icon-button color="warn" (click)="openDialog()">
                    <i class="material-icons">
                        favorite
                    </i>
                </button>
            </mat-card-content>
            <mat-card-content fxLayoutAlign="center">
                Rating:4.1
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <button mat-flat-button color="primary"><a routerLink="/bookTicket">BOOK TICKETS</a></button>
            </mat-card-actions>
        </mat-card>   
        
        <mat-card fxFlex=350px>
                <mat-card-title>
                    Movie Name:
                </mat-card-title>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content fxLayoutAlign="center">
                    <button mat-icon-button color="warn" (click)="openDialog()">
                        <i class="material-icons">
                            favorite
                        </i>
                    </button>
                </mat-card-content>
                <mat-card-content fxLayoutAlign="center">
                    Rating:4.1
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="center">
                    <button mat-flat-button color="primary"><a routerLink="/bookTicket">BOOK TICKETS</a></button>
                </mat-card-actions>
            </mat-card>
        
            <mat-card fxFlex=350px>
                    <mat-card-title>
                        Movie Name:
                    </mat-card-title>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content fxLayoutAlign="center">
                        <button mat-icon-button color="warn" (click)="openDialog()">
                            <i class="material-icons">
                                favorite
                            </i>
                        </button>
                    </mat-card-content>
                    <mat-card-content fxLayoutAlign="center">
                        Rating:4.1
                    </mat-card-content>
                    <mat-card-actions fxLayoutAlign="center">
                        <button mat-flat-button color="primary"><a routerLink="/bookTicket">BOOK TICKETS</a></button>
                    </mat-card-actions>
                </mat-card>   

                

      </section>
      
    

