



<mat-card fxLayoutAlign="space-between" fxLayout="row" fxLayout.lt-md="column" class="header-bar">        
    <form fxLayout="row" fxLayout.lt-md="column" >
        <mat-form-field fxFlex>    
            <input matInput placeholder="Search by Title" (input)="searchMovieByTitle($event.target.value)">
        </mat-form-field>
    </form>

    <form fxLayout="row" fxLayout.lt-md="column">
        <mat-form-field fxFlex>
            <mat-label>Filter By Genre</mat-label>
            <mat-select #fontSize value="16px" (selectionChange)="filterByGenre($event)">
                <mat-option value="all">All</mat-option>
                <mat-option value="action">Action</mat-option>
                <mat-option value="horror">Horror</mat-option>
                <mat-option value="comedy">Comedy</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-card>
                 
<mat-grid-list cols="4" rowHeight="1:2" class="list-card" gutterSize="30px">
    <mat-grid-tile *ngFor="let movie of movieList"><app-movie-card [movie]="movie"></app-movie-card></mat-grid-tile>
</mat-grid-list>
      
      
    

