<div class="example-container">
<mat-dialog-content>
	<form fxLayout="column" fxLayout.lt-md="column" >
  <mat-form-field>
    <input matInput placeholder="Please Enter your Name">
  </mat-form-field>
 <mat-form-field>
    <input matInput placeholder="Enter Comments">
  </mat-form-field>
  <button mat-flat-button color="primary" mat-dialog-close>Save</button>
</form>
</mat-dialog-content>

<!-- <mat-dialog-actions>
  <button mat-flat-button color="primary" mat-dialog-close>Save</button>
</mat-dialog-actions> -->
</div>

