<div class="example-container">
<mat-dialog-content>
    <form fxLayout="column" fxLayout.lt-md="column" [formGroup]="addFavForm">
 <mat-form-field>
   <input matInput placeholder="Please Enter your Name" formControlName="username">
 </mat-form-field>
<mat-form-field>
   <input matInput placeholder="Enter Comments" formControlName="comment">
 </mat-form-field>
 <button mat-flat-button color="primary" mat-dialog-close (click)="onSubmit(addFavForm.value)">Save</button>
</form>
</mat-dialog-content>
</div>