<mat-card>
	<mat-card-content fxLayout="column">
		<div>
			<img mat-card-image src="{{ ticket.movie.poster }}" alt="Photo of a Shiba Inu">
          </div>

		<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
			<p>{{ ticket.movie.title }} <span class="highlight">({{ ticket.movie.rating }}/5 <i class="material-icons rating-star">star</i>)</span></p>
		</div>
        
        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
			<p>{{ ticket.username }}</p>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
            <span class="highlight">{{ ticket.seats }} X {{ ticket.movie.price }} = {{ ticket.amount | currency : 'INR' }}</span>
        </div>
  	</mat-card-content>
</mat-card>
