
<h1 fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="15px" fxLayoutAlign="center center">
    Book Ticket!!!
</h1>
<section fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" fxLayout.gt-xs="row" class="header-bar">
    <mat-card fxFlex=350px>
        <mat-card-title>
            Movie Name:  
        </mat-card-title>
        <mat-card-content>
            Total Tickets: 100
        </mat-card-content>
        <mat-card-content>
            Available Tickets: 
        </mat-card-content>
        <mat-card-content>
            Booked Tickets: 
        </mat-card-content>
    </mat-card>
</section>
<section fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" fxLayout.gt-xs="row" class="header-bar my-space">
    <mat-card fxFlex=350px>
        <form fxLayout="column" fxLayout.lt-md="column" >
            <mat-form-field fxFlex>    
                <input matInput placeholder="Enter Name">
            </mat-form-field>
            <mat-form-field appearence="outline" fxFlex>    
                    <input matInput placeholder="How many Tickets?">
            </mat-form-field>
            <button mat-raised-button color="primary">
                    Book
            </button>
        </form>
    </mat-card>
</section>


    
    
    
    