<h1 fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="15px" fxLayoutAlign="center center">
    Add To Favourite List!!!
</h1>

<section fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" fxLayout.gt-xs="row" class="header-bar my-space">
    <mat-card fxFlex=350px>
        <form fxLayout="column" fxLayout.lt-md="column" >
            <mat-form-field fxFlex>    
                <input matInput placeholder="Enter Name">
            </mat-form-field>
            <mat-form-field appearence="outline" fxFlex>    
                    <input matInput placeholder="Enter comment">
            </mat-form-field>
            <button mat-raised-button color="primary">
                    Add to Favourite list
            </button>
        </form>
    </mat-card>
</section>

