

<h1 fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="15px" fxLayoutAlign="center center">
    My Favourite List of Movies
</h1>

    <section fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" fxLayout.gt-xs="row">

            

            <mat-card fxFlex=350px>
                    <mat-card-title>
                            Product Name:  {{data.productName}}
                         </mat-card-title>
                         <img mat-card-image src="assets/images/pic1.webp">
                         <mat-card-content>
                             Product category: {{data.category}}
                         </mat-card-content>
                         <mat-card-content>
                             units: {{data.availableUnits}}
                         </mat-card-content>
                         <mat-card-content>
                             price: {{data.unitPrice}}
                         </mat-card-content>
                         <mat-card-content>
                             area: {{data.location.area}}
                         </mat-card-content>
                         <mat-card-content>
                             zone: {{data.location.zone}}
                         </mat-card-content>
                         <mat-card-content>
                             shelf: {{data.location.shelf}}
                         </mat-card-content>
                         <mat-card-content>
                             tags: {{data.tags}}
                         </mat-card-content>
                         <mat-card-content>
                             Last updated: {{date}}
                         </mat-card-content>
                         <mat-card-actions>
                             <button mat-raised-button (click)="openDialog()">Edit</button>
                         </mat-card-actions>
                         </mat-card>
                       
        </section>



